---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p class="post-meta">
          <span>{{ post.date | date: "%m/%d/%Y" }}<span>
            <span class="right">{{ post.content | number_of_words }} words<span>
        </p>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
      <span class="previous fa fa-angle-left fa-lg"></span>
    </a>
    {% else %}
    <span class="previous fa fa-angle-left fa-lg"></span>
    {% endif %}
    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
      <span class="next fa fa-angle-right fa-lg"></span>
    </a>
    {% else %}
    <span class="next fa fa-angle-right fa-lg"></span>
    {% endif %}
  </div>

</div>
