---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="excerpt">
        {{ post.excerpt }}
      </div>
      <span class="read-more accent-link"><a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
      <span class="previous fa fa-caret-left fa-lg"></span>
    </a>
    {% else %}
    <span class="previous fa fa-caret-left fa-lg"></span>
    {% endif %}
    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
      <span class="next fa fa-caret-right fa-lg"></span>
    </a>
    {% else %}
    <span class="next fa fa-caret-right fa-lg"></span>
    {% endif %}
  </div>

</div>
