<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <a class="page-link" href="/about">About</a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">

      </div>

      <div class="footer-col  footer-col-3">
        <ul class="social-media-list">
          {% if site.email %}
          <li>
            <a href="mailto:&#112;&#104;&#111;&#116;&#111;&#103;&#114;&#097;&#112;&#104;&#121;&#105;&#115;&#116;&#101;&#099;&#104;&#110;&#111;&#108;&#111;&#103;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
              <span class="social fa fa-envelope"></span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="social fa fa-twitter"></span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="social fa fa-instagram"></span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="social fa fa-github"></span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div> <!-- col 3 -->
    </div> <!-- footer-col-wrapper -->
  </div> <!-- wrapper -->
</footer>
