/**
* Site header
*/
.site-header {
  font-family: $header-font-family;
  border: solid $brand-color;
  border-width: 5px 0px;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: $big-font-size;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  padding: $spacing-unit 0px;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-transform: uppercase;

  @include media-query($on-phone) {
    font-size: $base-font-size;
    padding: $spacing-unit * .5;
    line-height: 40px;
  }

  &, &:hover,
  &:visited {
    color: $brand-color;
  }
}

/**
* Site footer
*/

.site-footer {
  border-top: 5px solid $brand-color;
  padding-top: $spacing-unit + 5;
  padding-bottom: $spacing-unit;
  font-family: $header-font-family;
  // ul {
  //   @include media-query($on-tablet) {
  //     margin-bottom: $spacing-unit / 4;
  //   }
  // }
}

.contact-list {
  font-size: $base-font-size;
  float: left;
  margin-left: 0px;
}

.social-media-list {
  font-size: $base-font-size;
  float: right;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  li {
    float: left;
    a {
      text-decoration: none;
    }
    &:first-child span {
      padding-left: 0px;
    }
  }
}

.footer-col-wrapper {
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  margin-right: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  @include media-query($on-tablet) {
    margin-bottom: $spacing-unit / 4;
  }
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
  float: left;
}

.footer-col-2 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
  float: right;
}

@include media-query($on-tablet) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-phone) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
* Page content
*/
.page-content {
  // padding: $spacing-unit 0;
}

.page-heading {
  font-size: $med-font-size;
}

.post-list {
  margin-top: $spacing-unit / 2;
  margin-left: 0;
  list-style: none;
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
  font-style: italic;
  // @include media-query($on-phone) {
  //   font-size: $base-font-size;
  // }
  .right {
    float: right;
  }
}

.pagination {
  color: $grey-color-dark;
  padding-bottom: $spacing-unit + 5px;
  text-align: center;
  margin: 5px auto;
  height: 20px;
  font-size: $base-font-size;
  @extend .accent-link;

  span {
    line-height: 20px;
  }

  .previous {
    padding-right: $spacing-unit / 3;
  }

  .next {
    padding-left: $spacing-unit / 3;
  }
}

.read-more {
  font-size: $small-font-size;
}

/**
* Posts
*/

.post-header {
  position: relative;
}

.post-link, .post-title {
  text-align: left;
  display: block;
  font-size: $base-font-size;
  color: $accent-color;
  margin: $spacing-unit / 2 0;
  letter-spacing: -1px;
  line-height: 1.5;

  @include media-query($on-phone) {
    font-size: $base-font-size;
    margin-bottom: $spacing-unit / 4;
  }
}

.post-content {
  position: relative;
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-tablet) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-tablet) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-tablet) {
      font-size: 18px;
    }
  }
}

.post-list li {
  border-bottom: 1px solid $grey-color;
}

.page-link {
  display: block;
  line-height: $base-line-height;
}

/* Sharing */

.sidebar {
  position: fixed;
  top: 25%;
  right: 2.5%;

  @include media-query($on-tablet) {
    display: none;
  }
  @media screen and (min-width: $on-widescreen) {
    right: 7.5%;
  }
}

.mobile-sharing {
  display: none;
  height: 50px;
  padding: ($spacing-unit / 2) 0;
  ul {
    margin: 0px;
    li {
      float: left;
      margin: 0px 5px 0px 0px;
      padding: 0px 5px 0px 0px;
    }
  }
  .social-sharing span {
    padding: 5px;
  }
  @include media-query($on-tablet) {
    display: block;
  }
}
