/**
* Site header
*/
.site-header {
  border: solid $brand-color;
  border-width: 5px 0px;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: $big-font-size;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  padding: $spacing-unit 0px;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 700;

  @include media-query($on-palm) {
    font-size: $big-font-size * .5;
    padding: $spacing-unit * .5;
    line-height: 40px;
  }

  &,
  &:visited {
    color: $brand-color;
  }
}

/**
* Site footer
*/

.site-footer {
  border-top: 5px solid $brand-color;
  padding: $spacing-unit 0;
  font-family: $header-font-family;
}

.contact-list {
  font-size: $base-font-size;
  float: left;
}

.social-media-list {
  font-size: $base-font-size;
  margin-left: 0;
  float: right;
  li {
    float: left;
    a {
      text-decoration: none;
    }
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-tablet) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: $med-font-size;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.pagination {
  color: $grey-color;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  height: 20px;
  font-size: $base-font-size;
  @extend .accent-link;

  span {
    line-height: 20px;
  }

  .previous {
    padding-right: $spacing-unit / 3;
  }

  .next {
    padding-left: $spacing-unit / 3;
  }
}

.read-more {
  font-size: $small-font-size;
}

/**
* Posts
*/

.post-header {
  position: relative;
  @include media-query($on-palm) {
    margin-bottom: $spacing-unit * 2;
  }
  @include media-query($on-tablet) {
    margin-bottom: $spacing-unit * 2 + 10;
  }
}

.post-link, .post-title {
  text-align: left;
  display: block;
  font-size: $med-font-size;
  color: $secondary-color;
  margin-bottom: $spacing-unit;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-palm) {
    font-size: $med-font-size * .5;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-tablet) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-tablet) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-tablet) {
      font-size: 18px;
    }
  }
}

.post-list li {
  padding-bottom: 20px;
  border-bottom: 1px solid $grey-color-dark;
}

.page-link {
  display: block;
  line-height: $base-line-height;
}

/* Sharing divs */
.sidebar {
  position: fixed;
  top: 150px;
  right: 45px;

  @include media-query($on-tablet) {
    display: none;
  }
}

.mobile-sharing {
  display: none;
  position: absolute;
  top: $spacing-unit;
  left: 5px;
  ul {
    margin: 0px;
    li {
      float: left;
      padding-right: 5px;
    }
  }
  @include media-query($on-tablet) {
    padding-left: 5px;
    display: block;
    margin-top: $spacing-unit;
  }
  @include media-query($on-palm) {
    margin-top: 0px;
  }
}
